<html>
    <head>
        <title>Insurance Premium Charges Prediction Project</title>
    </head>

    <body>
        <h1>Insurance Premium Charges Prediction Project</h1>
        <!---  project details-->
            <p>Lorem ipsum dolor sit amet   consectetur,  adipisicing elit. Minima ut nesciunt consectetur 
            eligendi inventore, a consequuntur animi quos numquam earum ex incidunt necessitatibus
            temporibus, dolor accusantium ipsam nobis facere quis.</p>
        
        <a href="C:\Users\hp\Desktop\Insurance Project\templates\project.html">
            <button>Go to Project</button>
        </a> 
        <br><br>
        <hr>

        <h2>Vanshika Jangid</h2>
        <!---  photo and self discription  -->
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima ut nesciunt consectetur 
            eligendi inventore, a consequuntur animi quos numquam earum ex incidunt necessitatibus
            temporibus, dolor accusantium ipsam nobis facere quis.</p>
        <h4>insert your image</h4>
            <img src ="#" alt=" " width="300">
        <hr>
        <br><br>
        
        <!---  project details-->
        <h2>Project Details</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima ut nesciunt consectetur 
            eligendi inventore, a consequuntur animi quos numquam earum ex incidunt necessitatibus
            temporibus, dolor accusantium ipsam nobis facere quis.</p>
        <hr>
        
        <h3 style="text-align:center">Thanks for visiting our project.</h3>

    </body>
</html>
