<html>
    <head>
        <link rel="stylesheet" href="static\style.css" />
        <title>Insurance Premium Charges Prediction Project</title>
    </head>

    <body>
        <h1 id="heading">Insurance Premium Charges Prediction Project</h1>
        <!---  project details-->
            <p>It is an Insurance premium charges prediction project. 
                This project is used to determine
                charges on the basis of other parameters 
                entered by the user. 
            </p>
        
        <a href="/project">
            <button id="home_button">Go to Project</button>
        </a> 
        <br><br>
        <hr>

        <h2>Vanshika Jangid</h2>
        <!---  photo and self discription  -->
            <p>Hello eveyone! My name is Vanshika Jangid .I am currently pursuing Btech in Computer Science and Engineering from Governement
                Women Engineering college, Ajmer, Rajasthan. I have made various projects to improve my technical skills.This project showcases my 
            skills in the field of Data Science and Machine Learing.</p>
        <!--<img src ="./static/image/my_img.jpg" alt=" " width="200">-->
        <br>
        <hr>
    
        
        <!---  project details-->
        <h2>Project Details</h2>
            <p>In this project python, Flask app, various Machine Learing algorithms such as Linear Regression, Decision Tree Regression and Random Forest 
                Regression are used. Along with these, Data Integrity and Web development is also played important role.
            When user enters the input like customer's age, number of children a customer have, customer is a smoker or not,in which region of 
        country customer lives, customer's gender, customer's BMI, customer's health criteria then premium charges of customer will
    be printed on the user's screen. </p>
        
        
        <footer id="home_footer"> 
        <hr>   
        <h3 style="text-align:center">Thanks for visiting our project.</h3>
        <h3 style="text-align:center">vnshkjngd@gmail.com</h3>
        </footer> 
    </body>
</html>
