<html>
    <head>
        <link rel="stylesheet" href="static\style.css" />
        <title>Insurance Prediction</title>
    </head>
    <body>
        <div id="project_form">
        <h2>Get Insurance Premium Charges Prediction.</h2>
        <hr>

        <form action="{{ url_for('predict') }}" method="post">
            <label for="">Region:</label>
            <select name="region" id="">+
                <option value="se">Southeast</option>
                <option value="sw">Southwest</option>
                <option value="ne">Northeast</option>
                <option value="nw">Northwest</option>
            </select>
            <br><br>

            <label for="">Children:</label>
            <select name="children" id="">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>   
            <br><br>

            <label for="">Health:</label>
            <select name="weight" id="">
                <option value="1">Underweight</option>
                <option value="2">Healthyweight</option>
                <option value="3">Overweight</option>
                <option value="4">Obese</option>
            </select>   
            <br><br>

            <label for="">Gender:</label>
            <select name="gender" id="">
                <option value="0">Female</option>
                <option value="1">Male</option>
            </select>   
            <br><br>

            <label for="">Smoker:</label>
            <select name="smoker" id="">
                <option value="1">Yes</option>
                <option value="0">No</option>
            </select>   
            <br><br>

            <label for="">Age:</label>
                <input type="text" placeholder="Enter your age :" name="age"></input>
            <br><br>

            <label for="">BMI:</label>
                <input  type="text" placeholder="Enter BMI :" name="bmi" required></input>
            <br><br>
            
            <button type="submit">Submit</button>
        </div>
        </form>
    </body>
</html>
<!--['age', 'sex', 'bmi', 'children', 'smoker', 'weight', 'region_northeast',
       'region_northwest', 'region_southeast', 'region_southwest']-->